<nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
  <span class="navbar-brand col-sm-3 col-md-2 mr-0">DSGVO-Generator</span>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="https://github.com/adiehl/hdgdldsgvo/blob/master/INFO.md" target="_blank">
        Datenschutzerklärung, Rechtliche Hinweise und Infos</a>
    </li>
  </ul>
</nav>
<div class="container mt-3">

  <div class="row">
    <!-- Firmenliste -->

    <div class="col-md-4 order-md-2 mb-4 sidebar bg-light d-md-block d-none">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        Vorlage
      </h4>
      <select class="form-control mb-3" [(ngModel)]="templateName" (change)="changeTemplate()">
        <option *ngFor="let templateName of templateNames" value="{{templateName}}">{{templateName}}</option>
      </select>
      <ng-container *ngIf="companyList.length">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          Firmenliste
          <span class="badge badge-success badge-pill">{{companyList.length}}</span>
        </h4>

        <ul class="list-group list-group-flush" *ngFor="let company of companyList">
          <li class="list-group-item">
            <div>
              <h5>{{company.companyName}} <span class="badge badge-success float-right ml-1" (click)="createLetter(company)">Neu</span></h5>


            </div>
            <div class="clear" style="clear: both;"></div>
            <div *ngFor="let letter of company.letter">
              {{letter.name}}
              <span class="badge badge-danger float-right ml-1" (click)="editCompany(company, letter)">Edit</span>
              <span *ngIf='letter.printed === undefined' class="badge badge-secondary float-right" (click)="printPdf(company, letter)">PDF</span>
              <span *ngIf='letter.printed !== undefined' class="badge badge-success float-right" (click)="printPdf(company, letter)">PDF</span>
            </div>
          </li>
        </ul>

        <!--<form class="p-2 mb-3">-->
          <!--<button type="submit" class="btn btn-primary">Drucken</button>-->
        <!--</form>-->
      </ng-container>
      <h4 class="d-flex justify-content-between align-items-center mb-3 mt-2">
        Absender
      </h4>
      <textarea rows="6" (change)="saveSender()" [(ngModel)]="sender" class="form-control"></textarea>
      <!--<h4 class="d-flex justify-content-between align-items-center mb-3">-->
        <!--<span class="text-muted">Archiv</span>-->
        <!--<span class="badge badge-secondary badge-pill">{{companyList.length}}</span>-->
      <!--</h4>-->

      <!--<ul class="list-group">-->
        <!--<li class="list-group-item" *ngFor="let company of companyList"><h5>{{company.companyName}}</h5></li>-->
      <!--</ul>-->

    </div>

    <!-- Details -->
    <main role="main" class="col-md-8 order-md-1">
      <h4 class="mb-3">Firma</h4>
      <form class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="companyName">Firmenname</label>
          <input [(ngModel)]="currentCompany.companyName" name="companyName" type="text" class="form-control" id="companyName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Firmenname muss angegeben werden
          </div>
        </div>

        <div class="mb-3">
          <label for="companyAddress">Straße / Postfach</label>
          <input [(ngModel)]="currentCompany.companyAddress" name="companyAddress"  type="text" class="form-control" id="companyAddress" placeholder="" value="" required>
          <div class="invalid-feedback">
            Anchrift erforderlich
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="companyZip">PLZ</label>
            <input [(ngModel)]="currentCompany.companyZip" name="companyZip"  type="text" class="form-control" id="companyZip" placeholder="" value="" required>
            <div class="invalid-feedback">
              PLZ erforderlich
            </div>
          </div>
          <div class="col-md-9 mb-3">
            <label for="companyCity">Ort</label>
            <input [(ngModel)]="currentCompany.companyCity" name="companyCity"  type="text" class="form-control" id="companyCity" placeholder="" value="" required>
            <div class="invalid-feedback">
              Ort erforderlich
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="companyCountry">Land (nur bei Ausland)</label>
          <input [(ngModel)]="currentCompany.companyCountry" name="companyCountry"  type="text" class="form-control" id="companyCountry" placeholder="" value="">
        </div>
        <div class="mb-3">
          <label for="contractNumber">Vertragsnummer, Geschäftszeichen, Kennzeichen (Optional)</label>
          <input [(ngModel)]="currentCompany.contractNumber" name="contractNumber"  type="text" class="form-control" id="contractNumber" placeholder="Telefonnummer, Vertragsnummer, Aktenzeichen, etc." value="">

        </div>


        <div class="mb-3">
          <label for="remarks">Weitere Bemerkungen (optional)</label>
          <textarea [(ngModel)]="currentCompany.remarks" name="remarks"  class="form-control" id="remarks" placeholder="z. B. bezug auf ein vorheriges Schreiben, präzisierung des Auskunftsersuchens"></textarea>

        </div>

        <hr class="mb-4">
        <h4 class="mb-3">{{letter.titleText}}</h4>

        <div class="float-right">{{getDate()}}</div><br />
        <p *ngIf="currentCompany.contractNumber">Betreff: {{currentCompany.contractNumber}}</p>

        <p>{{letter.introText}}</p>

        <div class="custom-control custom-checkbox" *ngFor="let textblock of letter.textblocks">
          <input [(ngModel)]="textblock.selected" name="{{textblock.name}}" type="checkbox" class="custom-control-input" id="{{textblock.name}}">
          <label class="custom-control-label" for="{{textblock.name}}">{{textblock.content}}</label>
        </div>

        <p>{{letter.endClause}}</p>

        <hr class="mb-4">

        <button (click)="saveCompany()" class="btn btn-primary btn-lg btn-block" type="submit">Eintrag speichern</button>
      </form>
    </main>
  </div>


</div>
