<nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
  <span class="navbar-brand col-sm-3 col-md-2 mr-0">DSGVO-Generator</span>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="https://github.com/adiehl/hdgdldsgvo/blob/master/INFO.md" target="_blank">
        Datenschutzerklärung, Rechtliche Hinweise und Infos</a>
    </li>
  </ul>
</nav>
<div class="container mt-3">

  <div class="row">
    <!-- Firmenliste -->

    <div class="col-md-4 order-md-2 mb-4 sidebar bg-light d-md-block d-none">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        Vorlage
      </h4>
      <select class="form-control mb-3" [(ngModel)]="templateName" (change)="changeTemplate()">
        <option *ngFor="let templateName of templateNames" value="{{templateName}}">{{templateName}}</option>
      </select>
      <ng-container *ngIf="companyList.length">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          Firmenliste
          <span class="badge badge-success badge-pill">{{companyList.length}}</span>
        </h4>

        <ul class="list-group list-group-flush" *ngFor="let company of companyList">
          <li class="list-group-item">
            <div>
              <h5>{{company.companyName}} <span class="badge badge-success float-right ml-1" (click)="createLetter(company)">Neu</span></h5>


            </div>
            <div class="clear" style="clear: both;"></div>
            <div *ngFor="let letter of company.letter">
              {{letter.name}}
              <span class="badge badge-danger float-right ml-1" (click)="editCompany(company, letter)">Edit</span>
              <span *ngIf='letter.printed === undefined' class="badge badge-secondary float-right" (click)="printPdf(company, letter)">PDF</span>
              <span *ngIf='letter.printed !== undefined' class="badge badge-success float-right" (click)="printPdf(company, letter)">PDF</span>
            </div>
          </li>
        </ul>

        <!--<form class="p-2 mb-3">-->
          <!--<button type="submit" class="btn btn-primary">Drucken</button>-->
        <!--</form>-->
      </ng-container>
      <h4 class="d-flex justify-content-between align-items-center mb-3 mt-2">
        Absender
      </h4>
      <textarea rows="6" (change)="saveSender()" [(ngModel)]="sender" class="form-control"></textarea>
      <!--<h4 class="d-flex justify-content-between align-items-center mb-3">-->
        <!--<span class="text-muted">Archiv</span>-->
        <!--<span class="badge badge-secondary badge-pill">{{companyList.length}}</span>-->
      <!--</h4>-->

      <!--<ul class="list-group">-->
        <!--<li class="list-group-item" *ngFor="let company of companyList"><h5>{{company.companyName}}</h5></li>-->
      <!--</ul>-->

    </div>

    <!-- Details -->
    <main role="main" class="col-md-8 order-md-1">
      <app-form [(sender)]="sender" [(templateName)]="templateName" [(templateNames)]="templateNames" [(letter)]="letter" [(companyList)]="companyList" [(currentCompany)]="currentCompany"></app-form>
    </main>
  </div>


</div>
